<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%level] %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="INFO">  <!-- Set logging level to INFO -->
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
